<div id="search-box" class="span-24 search-part">
  <%= render :partial => "shared/search_box" %>
</div>
<div class="simple-search">
  <h3>
    Simple Person Search
  </h3>
  <div class="doc-attribute-items">
    <% form_for :search_people, :url => search_results_home_path do |f| %>
      <div class="span-22 title-document">
        <span class="span-6"> First Name <%= f.text_field :firstname, :size => 30 %></span>
        <span class="span-6"> Surname <%= f.text_field :lastname, :size => 30 %></span>
      </div>
      <div class="span-22 title-document">
        <span class="span-5">
          Date of Birth
          <%= f.text_field :date_birth_from, :value => "yyyy", :only_integer => true,
              :onfocus => '(this.value == "yyyy") ? this.value = "" : this.value',
              :onblur => '(this.value == "") ? this.value = "yyyy" : this.value',
              :class => 'date-4'
          %>
          +/-
          <%= f.text_field :date_birth_to, :value => "yy",
              :onfocus => '(this.value == "yy") ? this.value = "" : this.value',
              :onblur => '(this.value == "") ? this.value = "yy" : this.value',
              :class => 'date-2'
          %>
        </span>
        <span class="span-10">
          <span class="span-2" style="padding-right: 5px"><%= f.text_field :city, :size => 20, :title => 'city' %> City</span>
          <span class="span-2" style="padding-right: 5px"><%= f.text_field :county, :size => 20, :title => 'county' %> County</span>
          <span class="span-2"><%= f.text_field :country, :size => 20, :title => 'country' %> Country</span>
        </span>
      </div>
      <div class="span-22 title-document">
        <span class="span-10">
          Date of Death
          <%= f.text_field :date_death, :value => "yyyy", :only_integer => true,
              :onfocus => '(this.value == "yyyy") ? this.value = "" : this.value',
              :onblur => '(this.value == "") ? this.value = "yyyy" : this.value',
              :class => "date-4"
          %>
        </span>
      </div>
      <div class="span-22 title-document short-input">
        <b>Or</b>
      </div>
      <div class="span-22 title-document">
        <span class="span-8">
          <%= f.text_field :date_other_from, :value => "yyy",
              :onfocus => '(this.value == "yyy") ? this.value = "" : this.value',
              :onblur => '(this.value == "") ? this.value = "yyy" : this.value',
              :class => "date-4"
          %>
          Years ago +/-
          <%= f.text_field :date_other_to, :value => "yy",
                :onfocus => '(this.value == "yy") ? this.value = "" : this.value',
                :onblur => '(this.value == "") ? this.value = "yy" : this.value',
                :class => "date-2"
          %>
          years
        </span>
      </div>
      <p style="text-align: center;">
        <%= f.submit "Search" %>
      </p>
    <% end %>
  </div>
</div>
