<div class="span-20 title-document short-input fields">
  <span class="span-2 right-20">Street 1 <%= f.text_field :street1 %></span>
  <span class="span-2 right-20">Street 2 <%= f.text_field :street2 %></span>
  <span class="span-2 right-20">Town <%= f.text_field :town %></span>
  <span class="span-2 right-20">County <%= f.text_field :county %></span>
  <span class="span-2 right-20">Country <%= f.text_field :country %></span>
  <span class="span-2 link-remove link-remove-25"><%= link_to_remove_fields "remove", f %></span>
</div>